* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  font-weight: unset;
  &.plain {
    text-decoration: unset;
  }
}

.plain-input {
  border: none;
  outline: none;
  background-color: unset;
}

/* Hide Increment Decrement Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
